{
    "parser": "@babel/eslint-parser",
    "plugins": ["jest"],
    "env": {
      "node": true,
      "es6": true,
      "jest/globals": true
    },
    "globals": {
      "jest":false
    },
    "extends": "eslint:recommended",
    "rules": {
      "no-console": "off",
      "no-invalid-this": "warn",
      "no-undef": "error",
      "no-unused-vars": "warn",
      "no-var": [
        "error"
      ],
      "quotes": [
        "error",
        "single"
      ],
      "strict": [
        2,
        "never"
      ]
    }
  }
  